{% extends 'admin.html.twig' %}

{% block title %}Reservas{% endblock %}

{% block body %}

    <p><a href="{{ path('booking_add') }}" class="btn btn-primary">Nueva reserva</a></p>
    <table class="table table-striped table-hover table-primary">
        <thead>
        <tr>
            <th>Id</th>
            <th>Usuario</th>
            <th>Familia</th>
            <th>Mobil Home</th>
            <th>Estado</th>
            <th>Entrada</th>
            <th>Salida</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for item in bokings %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{item.user}}</td>
                <td>{{item.user.group}}</td>
                <td>{{ boking.mobilehome }}</td>
                <td>{{ boking.state }}</td>
                <td>{{ boking.startDate | date("d/m/Y") }}</td>
                <td>{{ boking.endDate | date("d/m/Y") }}</td>
                <td>
                    <a href="{{ path('booking_view', {id: item.id}) }}"><i class="bi bi-view-stacked"></i></a>&nbsp;&nbsp;
                    <a href="{{ path('booking_edit', {id: item.id}) }}"><i class="bi bi-pencil-fill"></i></a>&nbsp;&nbsp;
                    <a href="{{ path('booking_delete', {id: item.id}) }}"><i class="bi bi-trash"></i></a>
                </td>
                </tr> 
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
