{% extends 'admin.html.twig' %}

{% block title %}Estados de las reservas{% endblock %}

{% block body %}
    <p><a href="{{ path('admon_estado_add') }}" class="btn btn-primary">Nuevo estado</a></p>
    <table class="table table-striped table-hover table-primary">
        <thead>
        <tr>
            <th>Id</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for item in arr %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>
                    <a href="{{ path('admon_estado_edit', {id: item.id}) }}"><i class="bi bi-pencil-fill"></i></a>&nbsp;&nbsp;
                    <a href="{{ path('admon_estado_del', {id: item.id}) }}"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
