{% extends 'admin.html.twig' %}

{% block title %}Gestion de grupos!{% endblock %}

{% block body %}
    <h1 class="display-4 fst-italic text-center">Grupos</h1>
        <table class="table table-primary table-striped">
        <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Color</th>
        <th>Acciones</th>
        <tbody>
            {% for item in lst %}
                <tr>
                <th scope="row">{{item.id}}</th>
                <td>{{item.name}}</td>
                 <td>{{item.color}}</td>
                <td> <a class="btn btn-primary" href="{{path('admon_grupos_edit', {id: item.id})}}">Modificar</a><td>
                <td> <a class="btn btn-primary" href="{{path('admon_grupos_del', {id: item.id})}}">Eliminar</a><td>
                </tr>               
            {% endfor %}
        </tbody>
        </table>
        <a class="btn btn-primary" href="{{path('admon_grupos_edit')}}">Crear grupo</a>
{% endblock %}
