{% extends 'admin.html.twig' %}

{% block title %}Listado de mobilhomes{% endblock %}

{% block body %}
    <p><a href="{{ path('admon_mobilhome_add') }}" class="btn btn-primary">Nuevo Mobilhome</a></p>
    <table class="table table-stripped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for item in arr %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>
                    <a href="{{ path('admon_mobilhome_edit', {id: item.id}) }}"><i class="bi bi-pencil-fill"></i></a>&nbsp;&nbsp;
                    <a href="{{ path('admon_mobilhome_del', {id: item.id}) }}"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
