{% extends 'admin.html.twig' %}

{% block title %}Gestion de usuarios!{% endblock %}

{% block body %}

     <p><a href="{{ path('admon_grupos_add') }}" class="btn btn-primary">Nuevo usuario</a></p>
    <table class="table table-striped table-hover table-primary">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Grupo</th>
            <th>E-mail</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for item in lst %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{item.surnames}}, {{item.name}}</td>
                <td>{{item.userGroup.name}}</td>
                <td>{{item.email}}</td>
                <td>
                    <a href="{{ path('admon_usuarios_edit', {id: item.id}) }}"><i class="bi bi-pencil-fill"></i></a>&nbsp;&nbsp;
                    <a href="{{ path('admon_usuarios_del', {id: item.id}) }}"><i class="bi bi-trash"></i></a>
                </td>
                </tr> 
        {% endfor %}
        
        </tbody>
    </table>
    {% if registro.enable == 0 %}
            <a class="btn btn-primary" href="{{path('admon_usuarios_habilitar')}}">Habilitar Registro</a>
        {% else %}
            <a class="btn btn-primary" href="{{path('admon_usuarios_habilitar')}}">Deshabilitar Registro</a>
        {% endif %}

{% endblock %}